<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="servicesToRestart" type="Action.RestartService.ServiceSection, Action.RestartService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <servicesToRestart>
      <services>
        <add name="Telephony2" status="Stopped"/>
      </services>
    </servicesToRestart>  
</configuration>