<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="countersToCheck" type="Alert.CheckPerfCounter.PerformanceSection, Alert.CheckPerfCounter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>

  <countersToCheck>
    <counters>
      <add key="1" category="Processor" counterName="% Processor Time" instanceName="_Total" minValue="0" maxValue="10"/>
    </counters>
  </countersToCheck>
</configuration>