<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="queuesRetriever" type="Alert.CheckQueue.QueueRetrieverSection, Alert.CheckQueue, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <queuesRetriever>
    <queues>
      <add name=".\Private$\queue1" size="20"/>
      <add name=".\Private$\queue2" size="20"/>
    </queues>
  </queuesRetriever>
</configuration>