<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="http://bla/Service.asmx" />
    <add key="FromAddress" value="check.service@mail.com" />
    <add key="To" value="name@mail.com" />
    <add key="Subject" value="my test alert message" />
  </appSettings>
</configuration>