<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="servicesToCheck" type="Alert.CheckService.ServiceSection, Alert.CheckService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
  <servicesToCheck>
    <services>
      <add name="Message Queuing" status="Running"/>
      <add name="Telephony2" status="Running"/>
    </services>
  </servicesToCheck>

</configuration>